/* ページ全体のフォント設定 */
body {
    font-family: Arial, sans-serif;
  }
  
  /* リストのスタイルを削除 */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* リストアイテムに余白と縁取りを追加 */
  li {
    margin-bottom: 10px;
    border: 1px solid #000000;
    padding: 5px;
    /* 最長の文字列に合わせて、リストアイテムの幅を設定 */
    width: max-content;
    /* 枠内に色を付ける */
    background-color: #b7eeff;
  }
  
  /* リンクのスタイルを変更 */
  a {
    color: #0026ff;
    text-decoration: none;
  }
  
  /* マウスオーバー時のリンクのスタイルを変更 */
  a:hover {
    text-decoration: underline;
  }
  
  /* ページタイトルのスタイルを変更 */
  h1 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
  }
